@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

.landing{
    background-color: #EAF9FF;
}
.navbar{
    background-color: #023047;
}
.nav-link{
    font-family: 'DM Sans', sans-serif;
    color:white;
    
}
.navbar-nav .active{
    color:white;
    border-bottom: #FCA311 solid 3px;
}
.nav-link:hover{
    color: #928f8f;
}
.ylw-btn{
    font-family: 'DM Sans', sans-serif;
    background-color: #FCA311;
    border: 2px solid black;
    color: white;
    border-bottom: #000000 solid 4px;
}
.ylw-btn:hover{
    background-color: #e09215;
}
.blue-btn{
    font-family: 'DM Sans', sans-serif;
    background-color: #468FD1;
    border: 2px solid black;
    color: white;
    border-bottom: #000000 solid 4px;
}
.blue-btn:hover{
    background-color: #3976ab;
}
.google-btn{
    font-family: 'DM Sans', sans-serif;
    background-color: #F3F3F3;
    border: 2px solid black;
    color: black;
    border-bottom: #000000 solid 4px;
}
.center{
    margin:auto;
}
.right{
    position: absolute;
    right: 0px;
}
.hr2{
    overflow: hidden;
}
.hr2:before,
.hr2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 18%;
}

.hr2:before {
    right: 0.5em;
    margin-left: -50%;
}

.hr2:after {
    left: 0.5em;
    margin-right: -50%;
}

.hr3{
    overflow: hidden;
}
.hr3:before,
.hr3:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

.hr3:before {
    right: 0.5em;
    margin-left: -50%;
}

.hr3:after {
    left: 0.5em;
    margin-right: -50%;
}
.real-img{
    border: 2px solid black;
}
.address-input{
    width:60%;
    border: 2px solid black;
    background-color: #F3F3F3;
    height: 60px;
    border-bottom: #000000 solid 4px;
}
.footer{
    background-color: #023047;
    font-family: 'DM Sans', sans-serif;
    color: white;
}
.offering{
    background-color: #EAF9FF;
}
.intro-info{
    background-color: #EAF9FF;
}
.example-info{
    background-color: #EAF9FF;
}
.example-info img{
    border: 1px solid black;
}
h1,h2,h4,h6{
    font-family: 'DM Sans', sans-serif;
}
text{
    font-family: 'DM Sans', sans-serif;
}
.sort-dropdown{
    font-family: 'DM Sans', sans-serif;
    background-color: #F3F3F3;
    border-bottom: #000000 solid 4px;
    
}

.carousel-inner{
    border: 2px solid black;
    background-color: #023047;
    border-radius: 20px;
    height: 300px;
    border-bottom: #000000 solid 4px;
}
.carousel-inner button{
    position: absolute;
    top: 75%;
    left: 75%;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: 2px solid black;
    border-radius: 10px;
    border-bottom: #000000 solid 4px;
}
.carouselExample{
    position: relative;
}
.btn .card{
    border: 2px solid black;
    background-color: #F3F3F3;
    width: 280px;
}
.card{
    border: 2px solid black;
    background-color: #F3F3F3;
    border-bottom: #000000 solid 4px;
    border-radius:15px;
}
.rating-bg{
    background-color: #3AB738;
}
.img-card{
    border-radius: 15px 15px 0px 0px;
    border-bottom: 2px solid black;
    width: 277px;
    height: 200px;
}
.card-text{
    font-size: 11px;
}
.modal-dialog{
    max-width: 420px;
}
.modal-lg{
    max-width: 1000px;
}
.modal-backdrop{
    
    z-index: 0;
}
.sign-in-modal{
    border: 2px solid black;
    border-bottom: 4px solid black;
}
.modal-review{
    border: 4px solid black;
    border-bottom: 7px solid black;
}
.write-review{
    background-color: #F3F3F3;
    border: 2px solid black;
    border-bottom: 4px solid black;
}
.password{
    background-color: #F3F3F3;
    border: 2px solid black;
    border-bottom: 4px solid black;
    width: 20rem;
}
.email{
    background-color: #F3F3F3;
    border: 2px solid black;
    border-bottom: 4px solid black;
    width: 20rem;
}
.dorm-card{
    position:relative;
}

.dropdown {
    display: inline-block;
    position: relative;
    right: 0;
    left: auto;
}
.dropdown-btn2{
    border: 2px solid black;
    border-radius:15px;
    border-bottom: 4px solid black;
    padding: 10px 20px;
    font-size:18px;
    cursor:pointer;
}
.dropdown-btn3{
    border: 2px solid black;
    border-bottom: 4px solid black;
    padding: 5px 10px;
    font-size:18px;
    cursor:pointer;
}
.dropdown-options {
    display: none;
    position: absolute;
    overflow: auto;
    background-color:#F3F3F3;
    border: 2px solid black;
    border-radius:15px;
    border-bottom: 4px solid black;
    z-index: 9;
    
}
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown-options a {
    display: block;
    color: #000000;
        
    text-decoration: none;
    padding:20px 50px 20px 20px;
}
.dropdown-options a:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
}

.dropdown-options .form-check {
    display: block;
    color: #000000;
    text-decoration: none;
    padding:20px 50px 20px 50px;
    z-index: 100;
}
.dropdown-options .form-check:hover {
    color: #0a0a23;
    background-color: #ddd;
    border-radius:5px;
    z-index: 100;
}
.account-btn{
    border: none;
    background-color: #F3F3F3;
}





.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #ffc700;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #ffc700;
}

.summary-icons{
    color:#000000;
}
.summary-icons .active{
    color:#3AB738;
}
.bg-gray2{
    background-color: #F3F3F3;
}